$navy-blue: #013058;
$white: #ffffff;
$gray: #f9f9f9;
$dark-gray: #999999;
$yellow: #ffc811;
$default-color: #535353;
$color-33: #333333;
$color-2a: #2a2c32;
$red: #e00000;
$bg-black: #1b2c3e;
$bg-color: #f8f9fa;
$ft-bg-color: #131c25;